[submodule "facedetect"]
	path = facedetect
	url = git@github.com:rom1504/facedetect.git
[submodule "SignalList"]
	path = SignalList
	url = git@github.com:rom1504/signallist.git
[submodule "facerecognition"]
	path = facerecognition
	url = git@github.com:rom1504/facerecognition.git
