[submodule "facedetect"]
	path = facedetect
	url = git@github.com:rom1504/FaceDetect.git
[submodule "SignalList"]
	path = SignalList
	url = git@github.com:rom1504/SignalList.git
[submodule "facerecognition"]
	path = facerecognition
	url = git@github.com:rom1504/FaceRecognition.git
